@page "/Products/"

<h3>Products List </h3>

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger">
        @Message 
    </div>
}

<button class="btn btn-primary" @onclick="CreateProduct" > 
    Add new product
</button>
@if(Products == null){
    <p>Loading data... </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Descritpion</td>
                <td>Actions</td>
           </tr>
        </thead>
        <tbody>
            @foreach (var item in Products)
            {
                <tr>
                    <td>
                         @item.Id
                   </td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <button class="btn tbn-success" @onclick="@(()=>EditProduct(item.Id))">Edit</button>

                        <a href="Update/@item.Id"> Edit </a>
                        
                        <button class="btn tbn-danger" @onclick="@(()=> DeleteProduct(item.Id))">Delete</button>
                        <button class="btn tbn-danger">Details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}